/*triods*/
.triod {
    height: 0;
    width: 0;
    position: absolute;
    transform-origin: 50% 100px;
    transition: transform 0.3s linear;
    display: none;
}
.triod.active {
    display: block;
}

.triod41{
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 180px solid grey;
    left: 50px;
}
.triod33 {
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 150px solid grey;
    left: 15px;
}
.triod17 {
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 57px solid grey;
    left: 15px;
}

.check_gamma {
    position: absolute;
    top: 640px;
    left: 130px;
}
/*.check_gamma input {*/
    /*float: left;*/
/*}*/

#imgColor {
    position: relative;
    overflow: hidden;
    width: 100%;
}
#imgColor img {
    position: relative;
    height: auto;
    width: 100%;
    z-index: 999;
}
#imgColor .p-border {
    border-color: rgb(168, 58, 163);
}
#imgColor .p-background {
    background-color: rgb(168, 58, 163);
}
#imgColor .p1 {
    width: 0;
    height: 50%;
    border-left-width: 7.5vw;
    border-left-style: solid;
    border-top: 1vw solid transparent;
    border-bottom: 0.3vw solid transparent;
    position: absolute;
    z-index: 99;
    top: 10%;
}
#imgColor .p2 {
    width: 0;
    height: 240px;
    border-right-width: 130px;
    border-right-style: solid;
    border-top: 11px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    z-index: 99;
    top: 90px;
    left: 730px;
}
#imgColor .p3 {
    width: 0;
    height: 200px;
    border-left-width: 50px;
    border-left-style: solid;
    border-top: 11px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    z-index: 99;
    top: 127px;
    left: 390px;
}
#imgColor .p4 {
    width: 0;
    height: 141px;
    border-right-width: 90px;
    border-right-style: solid;
    border-top: 11px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    z-index: 99;
    top: 119px;
    left: 470px;
}
#imgColor .p5 {
    position: absolute;
    z-index: 99;
    top: 376px;
    left: 76px;
    width: 478px;
    height: 159px;
    transform: rotate(-12deg);
}
#imgColor .p6 {
    width: 20px;
    height: 27px;
    position: absolute;
    z-index: 996;
    top: 297px;
    left: 211px;
    transform: rotate(-10deg);
}
#imgColor .p7 {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 996;
    top: 279px;
    left: 481px;
    transform: skew(-15deg);
}
/*rgb(50, 183, 108)*/
#imgColor .s-border {
    border-color: rgb(50, 183, 108);
}
#imgColor .s-background {
    background-color: rgb(50, 183, 108);
}
#imgColor .s1 {
    width: 0;
    height: 24%;
    border-left-width: 306px;
    border-left-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 69px solid transparent;
    position: absolute;
    z-index: 990;
    top: 53%;
    left: 9%;
}
#imgColor .s2 {
    width: 20px;
    height: 50px;
    position: absolute;
    z-index: 990;
    top: 300px;
    left: 373px;
}
#imgColor .s3 {
    width: 0;
    height: 79px;
    border-right-width: 276px;
    border-right-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 37px solid transparent;
    position: absolute;
    z-index: 990;
    top: 270px;
    left: 440px;
}
#imgColor .s4 {
    width: 20px;
    height: 60px;
    position: absolute;
    z-index: 990;
    top: 295px;
    left: 424px;
    border-radius: 8px;
}
#imgColor .t-border {
    border-color: rgb(255, 244, 50);
}
#imgColor .t-background {
    background-color: rgb(255, 244, 50);
}
#imgColor .t1 {
    width: 27px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    z-index: 995;
    top: 372px;
    left: 484px;
}
#imgColor .t2 {
    width: 80px;
    height: 30px;
    position: absolute;
    z-index: 995;
    top: 375px;
    left: 514px;
}
#imgColor .t3 {
    width: 34px;
    height: 0;
    border-top-width: 37px;
    border-top-style: solid;
    border-left: 12px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    z-index: 995;
    top: 281px;
    left: 122px;
}
#imgColor .t4 {
    width: 19%;
    height: 9.3%;
    position: absolute;
    z-index: 995;
    top: 49%;
    left: 19%;
    transform: rotate(-8deg);
}
#imgColor .t5 {
    width: 183px;
    height: 37px;
    position: absolute;
    z-index: 995;
    top: 273px;
    left: 476px;
    transform: rotate(3deg);
}
#imgColor .t6 {
    width: 34px;
    height: 0;
    border-top-width: 37px;
    border-top-style: solid;
    border-left: 12px solid transparent;
    border-right: 16px solid transparent;
    position: absolute;
    z-index: 995;
    top: 270px;
    left: 625px;
}

#rotColor2 {
    position: relative;
    left: -70px;
    top: 260px;
}

#rotColor3 {
    position: relative;
    left: 80px;
    top: 125px;
}

/*@media handheld, only screen and (max-width: 767px) {*/
    /*.full-width-circle *{*/
        /*display: none;*/
    /*}*/
    /*.full-width-circle:before {*/
        /*content: "Эта страница пока не адаптирована под мобильные экраны";*/
        /*position: relative;*/
    /*}*/
/*}*/